* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p,
li {
  font-size: 1.5rem;
}
h2 {
  font-size: 3.5rem;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
  }
  .hamburger{
   margin-right: 1rem;
  }
/* ======Color======== */
:root {
  --primary: #d70d25;
  --blue: #4948d4;
  --purple: #6400ae;
  --aqua: #05b3b6;
  --black: #222222;
  --lightgray: #bfbcbc;
  --white: #ffffff;
  --lightprimary: #f89999;
  --para: #fea0a0;
  --text-mute: #878787;
}

.navbar {
  background-color: var(--primary);
}
.navbar a {
  color: var(--black);
}
.navbar .navbar-brand {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--white);
}
.navbar .nav-link {
  color: var(--lightprimary);
  font-size: 1.6rem;
}
.navbar .active {
  color: var(--white);
}
.navbar .logo {
  width: 18rem;
}

/* =======hero======== */
.hero-section {
  padding: 6rem 0 0;
  background-color: var(--primary);
}
.hero-img {
  width: 40rem;
}
.hero-left h1 {
  font-size: 5.5rem;
  font-weight: bolder;
  color: var(--white);
}
.hero-section p {
  color: wheat;
  line-height: 2;
  font-size: 1.5rem;
}
.hero-section .btn-hero {
  background-color: var(--white);
  color: var(--primary);
  padding: 1rem 4rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
/* ===============ABOUT=========================================== */

.section {
  padding: 10rem 0;
}
.about-section .right h2 {
  font-weight: 600;
}
.about-section .right p {
  padding-left: 3px;
  color: var(--text-mute);
}
.about-section .right li {
  line-height: 2.5;
  color: var(--text-mute);
}
.about-section .right li i {
  color: var(--primary);
}
.about-section .right .btn-about {
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold;
  letter-spacing: 3px;
  padding: 1rem 5rem;
  font-size: 1.5rem;
  border-radius: 2rem;
}
/* =========FEATURES======================================== */

.feature-section {
  background-color: #a0d6d6;
  padding: 5rem 0;
}
.section-heading {
  width: fit-content;
  background-color: var(--primary);
  color: var(--white);
  margin: auto;
  margin-bottom: 5rem;
  border-radius: 20px;
}
.section-heading h4 {
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold; 
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 5rem;
  font-size: 1.5rem;
  border-radius: 50%;
}
.feature-section .card {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0px 2px 5px 0px gray;
  color: var(--black);
  border-radius: 10px;
  transition: all .7s ease-in-out;
}
.feature-section .card:hover{
    background-color: var(--primary);
    color: white;
}
.feature-section .card:hover i{
    color: white;
}
.feature-section .card h3 {
  font-size: 2.3rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.feature-section .card p {
  font-size: 1.3rem;
  text-align: center;
}
.feature-section .card i {
  font-size: 4rem;
  color: var(--primary);
}







/* owl carousel */
/* Click the image one by one to see the different layout */

/* Owl Carousel */

.owl-prev {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938188/left-arrow_rlxamy.png') left center no-repeat;
  height: 54px;
  position: absolute;
  top: 50%;
  width: 27px;
  z-index: 1000;
  left: 2%;
  cursor: pointer;
  color: transparent;
  margin-top: -27px;
}

.owl-next {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938220/right-arrow_zwe9sf.png') right center no-repeat;
  height: 54px;
  position: absolute;
  top: 50%;
  width: 27px;
  z-index: 1000;
  right: 2%;
  cursor: pointer;
  color: transparent;
  margin-top: -27px;
}

.owl-prev:hover,
.owl-next:hover {
  opacity: 0.5;
}


/* Owl Carousel */


/* Popup Text */

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

.popuptext {
  display: table;
}
.popuptext p {
  margin-bottom: 10px;
}
.popuptext span {
  font-weight: bold;
  float: right;
}
/* Popup Text */

/* Icon CSS */
.item {
  position: relative;
}
.item i {
  display: none;
  font-size: 4rem;
  color: #FFF;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.item a {
  display: block;
  width: 100%;
}
.item a:hover:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.item a:hover i {
  display: block;
  z-index: 2;
}

/* product */
.product-section{
    background-color: #87878754;
}
.prod-card{
    margin-bottom: 2rem;
}
.prod-card img{
    border-radius: 10px;
    box-shadow: 0 5px 0 0 white;
}